:host {
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    .radio {
        flex:1;
        text-align: center;
        input {
            display: block;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    :host {
        display: block;
        padding: 20px;
    }
    .radio {
        text-align: left;
        margin-bottom: 10px;
        input { 
            display: inline-block;
        }
    }
}