.buttons {
    display: flex;
    margin-top: 20px;
    button {
        flex:1;
        padding: 18px 20px;
        background: #afafaf;
        border: 1px solid #9e9e9e;
        font-size: 1rem;
    }
    button.primary {
        background: #4ecdc4;
        color: white;
        border-color: #29bdb3;
    }
    button +  button {
        margin-left: 20px;
    }
}
.selected {
    text-align: center;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    date-picker-component {
        width: 70%;
        margin-right:20px;
    }
    time-picker-component {
        width: 30%;
    }
    .controls {
        display: flex;
    }
    .buttons {
        display: block;
    }
    .selected {
        text-align: left;
    }
}