:host {
    display: block;
}
.control-group {
    display:flex;
    align-items: center;
    .control {
        flex:1;
        position: relative;
    }
    select {
        width: 100%;
        box-sizing: border-box;
        width: 100%;
        background: white;
        border: 1px solid #efefef;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        padding: 16px 13px;
        border: 1px solid #dfdfdf;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 54%;
        transform: translateY(-50%);
        svg {
            width: 22px;
            height: 22px;
        }
    } 
}