:host {
    display: block;
}
.control-group {
    display:flex;
    align-items: center;
    .control {
        flex:1;
    }
    select {
        width: 100%;
        padding: 7px 10px;
        box-sizing: border-box;
        width: 100%;
        background: white;
        border: 1px solid #efefef;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        padding: 10px 10px;
    }
    .icon {
        margin-left: 10px;
        svg {
            width: 22px;
            height: 22px;
        }
    } 
}