:host {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}
.control-group {
    display:flex;
    align-items: center;
    position: relative;
    .control {
        flex:1;
        position: relative;
    }
    input {
        width: 100%;
        padding: 16px 13px;
        box-sizing: border-box;
        background: white;
        color:black;
        border: 1px solid #dfdfdf;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 54%;
        transform: translateY(-50%);
        svg {
            width: 22px;
        }
    }
}
calendar-component {
    display: none;
    position: absolute;
    width: 300px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.4), 0px 0px 12px 3px rgba(0,0,0,0.1);
    margin-top: 10px;
    right: 0px;
    z-index: 2;
    &.visible { 
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    :host{
        display: flex;
        align-items: flex-start;
    }
    calendar-filter-component {
        width: 30%;
        margin-bottom: 0px;
        margin: 0 20px 0 0;
    }
    calendar-component {
        margin-top:60px;
    }
    .control-group {
        width: 70%;
    }
}